# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Build / distribution
build/
dist/
*.egg-info/

# DVC (if you add later)
.dvc/tmp
